:root {
    --white: rgba(255, 255, 255, 1);
    --coolgray-90: rgba(33, 39, 42, 1);
    --defaultwhite: rgba(255, 255, 255, 1);
    --coolgray-20: rgba(221, 225, 230, 1);
    --cool-grey: rgba(162, 163, 177, 1);
    --verdigris: rgba(58, 163, 159, 1);
    --subtitle-m-font-family: "Roboto-Medium", Helvetica;
    --subtitle-m-font-weight: 500;
    --subtitle-m-font-size: 16px;
    --subtitle-m-letter-spacing: 0px;
    --subtitle-m-line-height: 110.00000238418579%;
    --subtitle-m-font-style: normal;
    --typography-label-medium-font-family: "ProximaNova-Semibold", Helvetica;
    --typography-label-medium-font-weight: 400;
    --typography-label-medium-font-size: 16px;
    --typography-label-medium-letter-spacing: 0.10000000149011612px;
    --typography-label-medium-line-height: 20px;
    --typography-label-medium-font-style: normal;
  }
  